#deckLeft {
	margin-top:16px;
}

.advice {
	margin-left:2px;
	margin-right:2px;
}
.advice:last-of-type {
	margin-right:10px;
}
.iconHolder {
	display:inline-block;
}

.gamecard{
	display: inline-block;
	border:1px solid grey;
	width:45px;
	height:60px;
	border-radius:5px;
}
.gamecard.selected {
	border: 2px solid black;
}
.gamecard.played {
	margin-left:1px;
	margin-right:1px;
}
.discards .gamecard,.lastMove .gamecard {
	width: 20px;
	height: 30px;
	font-size: 6px;
}

.discards .playedNumber,.lastMove .playedNumber {
	font-size: 12pt;
	line-height: 21pt;
}

.gamecard.red {
	background-color:red;
	color:white;
}
.gamecard.blue {
	background-color:blue;
	color:white;
}
.gamecard.green {
	background-color:green;
	color: white;
}
.gamecard.white {
	background-color:white;
}
.gamecard.yellow {
	background-color:yellow;
}

.playedNumber {
	text-align:center;
	font-size: 20pt;
	line-height:58px;
	vertical-align:text-bottom;
}

.advise.color {
	width: 10px;
	height: 10px;
	min-width: 10px;
	min-height: 10px;
	display: inline-block;
	position:  absolute;
	bottom: 3px;
	border: 1px solid black;
}
.advise.red { background-color: red; }
.advise.blue { background-color: blue; }
.advise.green { background-color: green; }
.advise.white { background-color: white; }
.advise.yellow { background-color: yellow; }

.advise.number {
	position: absolute;
	top: 1px;
}


